@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #0f0f0f;
  --color-secondary: #f0f0f0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  /* font-size: 14px;
  line-height: 24px; */
  font-weight: 400;

  color: var(--color-primary);
  background-color: #f6f6f6;

  scrollbar-gutter: stable both-edges;
  scroll-behavior: smooth;
}

a {
  color: var(--color-primary);
  position: relative;
}

[data-title] {
  position: relative;
}
[data-title]:hover::after {
  content: attr(data-title);
  position: absolute;
  top: 1em;
  right: 0;
  display: inline-block;
  width: 12em;
  margin: 2em auto 0;
  font-size: 1rem;
  line-height: 1rem;
  background: #666;
  color: #fff;
  padding: 0.25em 0.5em;
  border-radius: 0.5em;
  z-index: 20;
  text-align: center;
  justify-content: center;
}

a[aria-disabled="true"] {
  color: #777;
  cursor: not-allowed;
}

summary {
  cursor: pointer;
}

@media screen {
  [role="main"] {
    max-width: 800px;
    margin: 1.5em auto;
    padding: 0 1.5em;
  }
}

#navbar {
  grid-area: navbar;
  /* grid-column: 1 / -1; */
}
#footer {
  grid-area: footer;
  /* grid-column: 1 / -1; */
}
#left {
  grid-area: left;
  /* grid-column: 1; */
}
#content {
  grid-area: content;
  width: 100%;
  /* grid-column: 2; */
}
#right {
  grid-area: right;
  /* grid-column: 3; */
}

@media (max-width: 600px) {
  [role="main"] {
    padding: 0 1em 0 0;
  }
}
@media (min-width: 1600px) {
  [role="main"] {
    max-width: 1920px;
    display: grid;
    grid-template-columns: 22em 1fr 22em;
    grid-template-areas:
      "navbar navbar navbar"
      "left content right"
      "footer footer footer";
    grid-gap: 0 2em;
  }
}

h1 em,
h2 em {
  background: linear-gradient(0deg, #fce04199 50%, transparent 50%);
  border-radius: 0.1em;
  padding: 0 3px;
  margin: 0 -3px;
  font-style: normal;
}

ol {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 1rem; */
  padding: 0;
  list-style: none;
}

ol > li {
  break-inside: avoid;
}

article {
  padding: 1em 2em 1em;
  margin-left: -2em;
  margin-right: -2em;
  /* padding: 0 1em;
  border: 1.2px solid #ddd;
  border-radius: 0.25em; */
}

li a article {
  border-bottom: 1px solid #e4e4e4;
  /* background-color: #f0f0f0; */
}

li a:hover article {
  background-color: #f0f0f0;
}

/* article img {
  float: left;
  display: inline-block;
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: 0.5em;
  margin-top: -0.15em;
} */

/* article p {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2em;
} */

svg[role="img"] {
  /* float: right;
  width: 1.5em;
  height: 1.5em; */
  display: inline-flex;
  width: 1em;
  height: 1em;
  /* margin-top: 0.25em;
  margin-left: 0.5em; */
  /* margin-right: 0.5em; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    background-color: #161a22;
  }

  * {
    color: #fafafa;
    fill: #fafafa;
    border-color: #77777777 !important;
  }

  p {
    color: #bbb;
  }
} */

body[data-connected="true"] .unless-connected {
  display: none;
}

body:not([data-connected="true"]) .if-connected {
  display: none;
}

input[type="checkbox"]:not(:checked) + [role="menu"] {
  display: none;
}
